* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html{
    background-image: url(../images/tile2.jpg);
    background-attachment: fixed;

  }

  header{
    
    display: block;
    align-items: center;
    align-content: center;
    background-image: url(../images/tile2.jpg);

  }

  header img{
    align-items: right;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  header h2{
    font-size: 250%;
    font-weight: bold;
    text-shadow: 1px 5px 1px white, -1px -1px 1px rgb(56, 185, 255) ;
  }
  body {
    font-family: Arial;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 450px;
    width: 100%;
  }

  footer{
    padding: 2vh 0;
    background-image: url("..//images/tile2.jpg");
  }

  footer p{
    text-shadow: 1px 1px 1px white;
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;

  }

  /**@media (max-width: 1000px){
    .column{
        flex: 33%;
        max-width: 33%;
    }
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }